*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    padding: 10px;
    background: #d8e4f4;
}

.card-phones{
    width: 24%;
    height:480px;
    background-color:  white;
    padding: 20px 20px ;
    margin: 10px 10px 10px 0;
    float: left;
}

.imgSP{
    width: 60%;
    height: 60%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.card-phones p{
    font-size: 10pt;
    margin-top: 8px;
    font-weight: bold;
}

.card-phones h4{
    color: red;
    margin-top: 8px;
}